* {
  padding: 0;
  margin: 0;
  border: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  border: 3px solid orangered;
}

.dashboard {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border: 3px solid orangered;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 3px solid orangered;
}

.projects {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 3px solid orangered;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.dashboard_heading {
  display: flex;
  margin: 20px;
}

.dashboard_heading h1 {
  margin: 0;
}

.dash_icons {
  display: grid;
}

.dashboard_first {
  display: grid;
  grid-template-columns: auto 3fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 10px;
  margin: 27px;
}

.dash_sections {
  display: grid;
  align-items: center;
  font-size: large;
}

.dash_icons img {
  width: 33px;
  height: 33px;
}
